/* Normalize */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Index css */
.wrap {
    margin: 20px;
    font-size: 16px;
}

.content {
    margin-top: 30px;
}

.content__head {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.content__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
}

.content__item {
    width: calc(50% - 20px);
    border: solid 1px #333;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
}

.content__item img {
    width: 100%;
    margin-bottom: 10px;
}

.content__item__title {
    font-size: 18px;
    font-weight: bold;
    color: #004eff;
    margin-bottom: 10px;
}

.content__item:nth-child(2n) {
    margin-left: 40px;
}

.content__item:nth-child(n+3) {
    margin-top: 40px;
}

/* Detail css */
.detail {
    margin-top: 30px;
}

.detail__head {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.detail__wrap {
    display: grid;
    grid-template-areas:
        'menu main main main right right'
        'footer footer footer footer right right';
    gap: 10px;
    margin-top: 50px;
}

.detail__img {
    grid-area: menu;
}

.detail__img img {
    width: 500px;
}

.detail__infor {
    grid-area: main;
}

.detail__about {
    grid-area: right;
    border-left: solid 1px #333;
    padding-left: 10px;
}

.detail__about__title {
    font-weight: bold;
}

.detail__about__title:not(:first-child) {
    margin-top: 10px;
}

.detail__end {
    grid-area: footer;
}

.hight {
    color: coral;
}

/* Header css */
header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 120px;
}

h1 {
    font-weight: bold;
    font-size: 36px;
}

.logoutBtn {
    background-color: #c6eaeb;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    width: 100px;
}

.logoutBtn:hover {
    cursor: pointer;
}

/* Footer css */
footer {
    font-size: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
	justify-content: space-between;
    border-top: solid 1px #333;
    padding-top: 10px;
}

/* Responsive */
@media only screen and (max-width: 800px) {
    .logo {
        display: none;
    }

    .logoutBtn {
        display: none;
    }

    .header {
        justify-content: center;
    }

    .content__list {
        margin: 0 auto;
    }

    .content__item {
        width: 100%;
    }

    .content__item:nth-child(2n) {
        margin-left: 0;
    }

    .content__item:nth-child(n+2) {
        margin-top: 40px;
    }
}